@import url("./reset.css");

:root{
    --clr-primary-400: rgb(218, 71, 35);
    --clr-primary-200: rgb(241, 202, 187);
    --clr-secondary-300: rgb(234, 227, 75);
    --clr-accent-300: rgb(151, 195, 185);
    --clr-accent-400: rgb(146, 196, 189);
    --clr-neutral-100: rgb(248, 245, 237);
    --clr-neutral-200: rgb(242, 236, 219);
    --clr-neutral-300: rgb(236, 224, 191);
    --clr-neutral-400: rgb(124, 117, 100);
    --clr-neutral-700: rgb(50, 47, 42);
    --clr-neutral-900: rgb(25, 24, 21);

    --ff-primary: "Google Sans Code", monospace;

    --fw-300: 300;
    --fw-600: 600;
    --fw-700: 700;


    --fs-300: 1rem;
    --fs-400: 1.2rem;
    --fs-500: 1.6rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 4rem;
    --fs-900: 5rem;


    /* FS and FW */
}

/* General */
header {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 6em;
    gap: 2em;
}


body {
    min-height: 100vh;
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-900);
    font-family: var(--ff-primary);
    font-weight: var(--fw-300);
    padding-block: 2rem;
    font-size: var(--fs-300);
}

h1 {
   font-weight: var(--fw-700); 
   font-size: var(--fs-800);
}

span {
    font-size: var(--fs-600);
}

@media (min-width: 50em) {
    h1 {
        font-size: var(--fs-900);
    }
};

h2,
h3
    {
    font-weight: var(--fw-600);
}

h2 {
    font-size: var(--fs-700);
}

h3 {
    font-size: var(--fs-500);
}

h4 {
    font-size: var(--fs-400);
    font-weight: var(--fw-300);
}

/* Utilities */

.flex {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}


/* Layout */


main {
    max-width: 90%;
    display: grid;
    gap: 2rem;
    margin: 2em;
    margin-top: 0;
}

@media( min-width: 50em) {
    main {
        margin: 2em auto;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: minmax(150px, auto);
        grid-template-areas:
        'image contact'
        'image contact'
        'about projects'
        'about projects'
        'work projects'
        'work education'
        'work education'
        'work skills'
        'work skills';

    }

    .image {
        grid-area: image;
    }

    .contact-info {
        grid-area: contact;
        align-self: center;
    }

    .about-me {
        grid-area: about;
    }

    .education {
        grid-area: education;
    }
    .work-experience {
        grid-area: work;
    }
    
    .skills {
        grid-area: skills;
    }
    
    .projects {
        grid-area: projects;
    }
}

@media (min-width: 60em) {
    main {
        grid-template-areas:
        'image contact'
        'image contact'
        'image projects'
        'about projects'
        'work education'
        'work education'
        'work skills'
        'work skills'
        'work . ';
    }
}

.grid-item {
    border: 2px solid var(--clr-neutral-900);
    border-radius: 1em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    line-height: 1.75;
}

/* Components */

.image {
    max-width: 600px;
    justify-self: center;
    align-self: center;
    margin: 0;
}

.contact-icon {
    width: 50px;
    height: 50px;
}

.work-experience .item > *{
    padding-block: .5rem;
}

hr {
    width: 25%;
    border: 1px solid var(--clr-neutral-900);
    margin-block: 1.5em;
}

.skills .grid-item{
    gap: 0;
}

.skills li {
    font-size: var(--fs-400);
}

/* Buttons */

.contact-info a,
.projects a,
.about-me a {
    color: var(--clr-primary-400);
    background-color: var(--clr-primary-200);
    padding: .25rem .75rem;
    border-radius: 10px;
    text-decoration: none;
    overflow-wrap: none;
}

.contact-info a:hover,
.projects a:hover,
.about-me a:hover {
    background-color: var(--clr-secondary-300);
}

.about-me a {
    display: inline-block;
    max-width: 250px;
}

.back-to-top {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.back-to-top a {
    color: var(--clr-neutral-900);
    font-size: var(--fs-400);
}

.back-to-top a:hover {
    background-color: var(--clr-secondary-300);
    padding: .5em .75em;
    border-radius: 10px;
}

/* Projects Page */

body.projects {
    text-align: center;
}

.projects .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.5em;
    margin: 2em 4em;
    grid-template-areas: none; 
}

.project-container {
    text-align: center;
    border-radius: 1em;
    padding: 2em 1.5em;
    border: 2px solid var(--clr-neutral-900);
    display: grid;
    row-gap: 2em;
}

.hover:hover {
    background-color: var(--clr-secondary-300);
    cursor: pointer;
}

.project-container p{
    text-wrap: balance;
    font-size: var(--fs-500);
}

.projects img {
    width: 100%;
    height: auto;
    display: block;
}

/* About Me Page */

body.about-me {
    margin-inline: 2em;
}

.about-me h1 {
    text-align: center;
    padding: .5em;
}

.about-me main{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    max-width: 1200px;
    margin: 2em auto;
}

.about-me .image-container {
    width: 40%;

}

.portrait {
    border-radius: 50%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.about-me-summary {
    width: 50%;
    font-size: var(--fs-500);
    line-height: 1.5;
}

.about-me .home {
    margin-left: 4em;
}

@media (max-width: 50em) {
    .about-me main {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .about-me-summary {
        width: 90%;
        font-size: var(--fs-400);
    }
}